<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ustc.sse.student_class_status_monitor_sys.mapper.UserMapper">
    <update id="update">
        update user
        <set>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="sex != null">
                sex = #{sex},
            </if>
            <if test="age!= null">
                age = #{age},
            </if>
            <if test="phone != null">
                phone = #{phone}
            </if>
        </set>
        where uid = #{uid}
    </update>
</mapper>
